* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(#4C0636, #773B99);
}
#fondo-titulo {
    background-image: url("https://www.kcet.org/sites/kl/files/styles/kl_image_hero/public/thumbnails/image/istock_000032312038_large.jpg?itok=3BbQnWSM");
    height: 300px;
}
#titulaso {
    text-align: center;
    display: inline-block;
    margin: 4.5% 0 0 70% ;
    font-family: 'Monoton', cursive;
    text-decoration-color: rgb(240, 6, 6);
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(3, 77, 3);
}
#top {
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: underline;
}
ol input:hover {
    -webkit-mask-clip: border-box 10px;
}
ol{
    display: inline;
}
li {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}
#recomendaciones {
    margin-top: 3%;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: underline;
    background-color: #ec7309;
    display: inline-block;
    border-radius: 2px
}
ul img {
    width: 15%;
    height: 5%;
}
ul img:hover {
    box-shadow: 5px 5px 20px 1px rgb(0, 0, 0);
    transform: scale(0.99);
}
.lista {
    margin: 20px;
}